
@{
    Layout = "_Layout2";
    ViewData["Title"] = "Update";
}


<div class="card h-75 mt-lg-5">
    <div class="text-center mt-3 mb-3">
        <h3 class="card-ti">Actualizar usuario</h3>
    </div>
    <form action="/Usuario/Update" method="post">
        <div class="row my-3 mx-3">
            <div class="col-xl-6 mb-3">
                <label>Tipo de usuario</label>
                <select class="custom-select" name="TipoId">
                    <option>--Elija una opción--</option>
                    @foreach (var Tipo in ViewBag.Tipo)
                    {
                        <option value="@Tipo.TipoId">@Tipo.Descripcion</option>
                    }
                </select>
            </div>
            <div class="col-xl-6 mb-3">
                <label>Nombre de Usuario</label>
                <input type="text" class="form-control" name="NombreUsuario" value="@Model.NombreUsuario" />
                @Html.ValidationMessage("NombreUsuario")
            </div>
            <div class="col-xl-6 mb-3">
                <label>Nombres</label>
                <input type="text" class="form-control" name="Nombres" value="@Model.Nombres" />
                @Html.ValidationMessage("Nombres")
            </div>
            <div class="col-xl-6 mb-3">
                <label>Apellidos</label>
                <input type="text" class="form-control" name="Apellidos" value="@Model.Apellidos" />
                @Html.ValidationMessage("Apellidos")
            </div>
            <div class="col-xl-6 mb-3">
                <label>DNI</label>
                <input type="text" class="form-control" name="DNI" value="@Model.DNI" />
                @Html.ValidationMessage("DNI")
            </div>
            <div class="col-xl-6 mb-3">
                <label>Telefono</label>
                <input type="text" class="form-control" name="Telefono" value="@Model.Telefono" />
                @Html.ValidationMessage("Telefono")
            </div>
            <div class="col-xl-6 mb-3">
                <label>Especialidad</label>
                <input type="text" class="form-control" name="Especialidad" value="@Model.Especialidad" />
                @Html.ValidationMessage("Especialidad")
            </div>

            <input type="hidden" name="Password" value="@Model.Password" />
            <input type="hidden" name="UsuarioId" value="@Model.UsuarioId" />

            <br class=" mt-5 mb-5" />

        </div>
        <div class="row row-cols-md-2">
            <div align="center">
                <button class="btn btn-indigo waves-effect">Actualizar</button>
            </div>
            <div align="center">
                <a href="/Usuario/Index" class="btn  btn-outline-primary waves-effect">Cancelar</a>
            </div>
        </div>
        <br />
    </form>
</div>
