
@{
    Layout = null;
    ViewData["Title"] = "Index";
}


<div>
    <div><h3>@Html.ValidationMessage("Resultado")</h3></div>
    @foreach (var item in Model)
    {
        <div class=" row card w-90 mx-3 my-3">
            <div class="card-body row">
                <div class="col-md-12">
                    <h3 class="card-title text-dark">@item.Nombres @item.Apellidos</h3>
                </div>
                <div class="col-md-8">
                    <p>Dni: @item.DNI</p>
                    <p>Estado: @item.Estado</p>
                </div>
                <div class="col-md-4">
                    <a href="/HistoriaClinica/Index?id=@item.PersonaId" class="btn btn-outline-cyan">Historia clinica</a>
                </div>

            </div>
        </div>
    }
</div>


