
@{
    Layout = "_Layout2";
    ViewData["Title"] = "Index";
}

<div>
    <div class=" row card w-90 mx-3 my-3">
        <div class="card-body row">
            <div class="col-md-5 mx-3">
                <h3 class="card-title text-dark">@Model.Nombres @Model.Apellidos</h3>
            </div>
            <div class="col-md-6 align-content-end">
                <div class="text-right">
                    <a href="/Prueba/Create?historiaClinicaId=@Model.HistoriaClinica.HistoriaClinicaId" class="btn btn-outline-blue-grey">Nueva prueba</a>
                    <a href="/Persona/Update?PersonaId=@Model.PersonaId" class="btn btn-outline-cyan">Editar Persona</a>
                </div>
            </div>

            <div class="col-md-12 mx-3">
                <div>
                    <p>DNI: @Model.DNI</p>
                </div>
                <div>
                    <p>Condición de riesgo: @Model.CondicionDeRiesgo</p>
                </div>
            </div>
            <div class="col-md-4 mx-3">
                <label>Estado: </label>
                @switch (Model.Estado)
                {
                    case "Positivo":
                        <h3><span id="@Model.Estado" class="badge badge-danger">@Model.Estado</span> </h3>
                        break;
                    case "Negativo":
                        <h3><span id="@Model.Estado" class="badge badge-success">@Model.Estado</span> </h3>
                        break;
                    case "Recuperado":
                        <h3><span id="@Model.Estado" class="badge badge-primary">@Model.Estado</span> </h3>
                        break;
                    case "Fallecido":
                        <h3><span id="@Model.Estado" class="badge badge-dark">@Model.Estado</span> </h3>
                        break;
                    default:
                        <h3><span id="@Model.Estado" class="badge badge-light">@Model.Estado</span> </h3>
                        break;
                }

            </div>
        </div>
    </div>
</div>
<hr />
<div>
    <input type="hidden" id="hClinId" value="@Model.HistoriaClinica.HistoriaClinicaId" />
</div>
<div id="historial">

    <div class=" row card w-90 mx-3 my-3 blue-gradient">
        <div class="row white my-3 mx-3 rounded">
            <div class="col-xl-6 text-left my-3 mx-3">
                <h3 class="card-title blue-text font-weight-bold">Historial clínico</h3>
            </div>
        </div>
        <div class="row white my-3 mx-3 rounded" id="Pruebas">

        </div>
        @if (Model.Estado == "Positivo" || Model.Estado == "Recuperado" || Model.Estado == "Fallecido")
        {
            
            <div class="row white my-3 mx-3 rounded" id="CuadroClinico">

            </div>
        }

    </div>

</div>
<div id="Contactos">

</div>
<script src="~/js/Seguimiento.js"></script>
